* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Hat Text", sans-serif;
}

body {
	margin: 20px;
	background-color: #fcf8f6;
}

h1 {
	color: #260f08;
	margin-bottom: 30px;
}

h4 {
	margin-top: 10px;
	color: #87635a;
	font-weight: 400;
}

h3 {
	color: #260f08;
	font-weight: 650;
}

p {
	color: #c73b0f;
	margin-bottom: 50px;
	font-weight: 650;
}

img {
	display: block;
	margin: auto;
}

span {
	text-align: center;
	color: #c73b0f;
	font-weight: 900;
}

.p1 {
	text-align: center;
	color: #87635a;
}

footer {
	background-color: white;
	padding: 20px;
	width: 100%;
	height: 25%;
	border-radius: 8px;
}

.img1 {
	display: block;
	margin: auto;
	width: 40%;
}

@media screen and (min-width: 768px) {
	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	h1 {
		font-size: 300%;
	}

	.box {
		margin: 15px;
	}

	.img1 {
		display: block;
		margin: auto;
		width: 20%;
	}

	span {
		font-size: 200%;
	}

	.p1 {
		display: block;
		margin: auto;
	}
}

@media screen and (min-width: 1000px) {
	body {
		margin-left: 70px;
		margin-top: 50px;
	}

	.resp1 {
		display: flex;
		flex-direction: row;
	}

	footer {
		margin-right: 175px;
	}

	.img1 {
		width: 30%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
